body {
  font-family: Georgia, sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

header {
  background-color: white;
  color: black;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

img {
  width: 100%;
}

.caption {
  font-size: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  font-style: italic;
}

h1 {
  font-style: italic;
  font-size: 40px;
  color: black;
}

blockquote{
  font-style: italic;
  font-size: 18px;
  color: black;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  font-style: normal;
}

p {
  font-size: 20px;
  color: black;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
