body {
  font-family: Georgia, serif;
  max-width: 3000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  text-align: center;
  font-size: 40px;
}

header {
  font-family: Georgia, serif;
  background-color: white;
  color: black;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

img {
  img size: 500px;
  width: 100%;
}

.caption {
  font-size: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  font-style: italic;
}

h1 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 40px;
  color: black;
  text-align: center;
}

blockquote{
  font-style: italic;
  font-size: 18px;
  color: black;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  font-style: normal;
}

p {
  font-family: Georgia, serif;
  font-size: 15px;
  color: black;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.row{
  border: 0px solid grey;
}
.col{
  border: 0px solid grey;
}

div {

}





